  body {
    background-color: #131313;
    background-image: url(lava.gif);
    background-size: 100% auto; 
    background-repeat: no-repeat;
    color: rgb(255, 255, 0);
    font-family: "Consolas", "Andale Mono", "Lucida Console", monospace;
    animation: fade-in 2s;
    text-shadow: -0.06em 0 0.5px rgba(255, 200, 100, 0.9);
    max-width: 100em;
    margin-left: auto;
    margin-right: auto;
  }
  *{
    scroll-behavior: smooth !important;
    }


    @font-face {
        font-family: "Plaza";
        src: url(Plaza\ Regular.ttf) format("truetype");
    }
    h1,h2 { 
        font-family: "Plaza", Verdana, Tahoma;
    }  

    @font-face {
        font-family: "Sega";
        src: url(NiseSegaSonic.TTF) format("truetype");
    }
  
  
  p.abar {
    text-align: center;
    padding: 0;
    margin: 0;
    background:#131313d2;;
  }
  
  .center {
    margin-right: auto;
    margin-left: auto;
    width: auto;
    display: block;
  }
  
  .images {
    margin-left: auto ;
    margin-right: auto ;
    display: flex;
    align-items: center;
    animation-duration: 3s;
    max-width: 90%;
  }
  
  .images {
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .images img {
    width: 100%;
    /* box-shadow: 0.06rem 0.12rem 0 rgba(200, 100, 100, 0.5), 0 0.06rem 0 rgba(200, 100, 100, 0.5),
      0 0 5px rgba(0, 0, 0, 0.4); */
    transition: ease-in-out 0.2s;
  }
  
  .images img:hover {
    filter: hue-rotate(90deg);
    transform: translateY(-8pt);
    box-shadow: 0.06rem 0.12rem 0 rgba(200, 100, 100, 0.5), 0 0.06rem 0 rgba(200, 100, 100, 0.5),
      0 9pt 8px rgba(0, 0, 0, 0.28);
  }
  
  h1 {
    text-align: center;
    color: rgb(255, 242, 0);
    font-size: 300%;
  }

  h2 {
    font-size: 200%;
  }
  
  .fade {
    position: relative;
    text-align: center;
  }
  
  .fade span {
    position: absolute;
    transform: translateX(-50%);
    transition: ease-in-out .5s;
  }
  
  .fade span:nth-child(2) {
    opacity: 0;
  }
  
  .fade span:nth-child(1) {
    opacity: 1;
  }
  
  .fade:hover span:nth-child(2) {
    opacity: 1;
  }
  
  .fade:hover span:nth-child(1) {
    opacity: 0;
  }
  
  @keyframes fade-in {
    from { opacity: 0; filter: blur(0.2px); }
    to { opacity: 1; }
  }
  
  
  #content {
    /* background-image: linear-gradient(blue, rgba(0, 4, 255, 0.164)); */
    /* border: 2px solid yellow; */
    /* padding: 1em;
    margin-left: 1em;
    margin-right: 1em; */
  }

  p {

  }

  h1.top { 
    font-family: "Sega";
    text-align: center;
    text-shadow: rgb(0, 13, 255) 1px 0 20px;

    -webkit-text-stroke: .01px black;
    font-size: 300%;
    /* background-image: linear-gradient(blue, rgba(0, 4, 255, 0.164));  */
  }

  #grid {
    background-image: linear-gradient(blue, rgba(0, 4, 255, 0.164));
    float: left;
    width: 33%;
    margin: 1px;
    border: 1px solid rgb(255, 255, 0)
  }
  
  #grid.furnace {
    background-image: none;
    text-align: center;
    border:none;
    img {max-width: 100%; height: auto;}
  }

  #grid > p {
    text-align: center;
  }

  #grid > p.fire {
        padding-bottom: 10em;
        background-image:url("fire.gif");
        background-repeat:repeat-x;
        background-position:left bottom; /* or 0&#37; 100% */
  }
  
  h1 {
    margin-top: 1em;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 0;
    text-align: center;
  }
  
  .list {
    font-size: 1.5rem;
  }
  
  .butt {
    border: 1px outset blue;
    background-color: rgb(255, 255, 0);
    font-family: "Consolas", "Andale Mono", "Lucida Console", monospace;
    /* height:50px;
    width:50px; */
    /* cursor:pointer; */
    color: black;
    }
 
  .butt:hover {
    background-color: rgba(255, 255, 0, 0.8);
    color:rgb(0, 0, 0);
    }

  #back {
    font-size: large;
  }
  
  #back:before {
    content: "<- ";
  }
  
  @media (max-aspect-ratio: 7/8) {
    body {
      max-width: 90%;
    }
  }
  
  :root {
    color-scheme: dark;
  }
  
  .audioplayer {
    height:12px;
    width:300px;
  }
  
  * {
    cursor: url(sega-genesis.cur), auto !important;
  }

  #now-playing{
    width: 100%;
  }